<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>k-mobile</title>
  </head>
  <body style="background: #d8dbe0">
    <div class="enter--container">
      <a class="enter__text" href="">انتخاب شرکت</a>
      <button class="enter__btn">
        <p class="enter__btn--text">تغییر شماره</p>
        <img class="enter__icon-out" src="../images/icon/out.svg" alt="" />
      </button>
    </div>
    <div class="enter__medrik--container">
      <img
        class="enter__building--icon"
        src="../images/icon/building-solid.svg"
        alt=""
      />
      <a class="enter__medrik--text" href="../components/traffic.html">مدریک (مدیر)</a>
      <img
        class="enter__arrow--icon"
        src="../images/icon/arrow-left-solid.svg"
        alt=""
      />
  </body>
</html>
