<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>k-mobile</title>
  </head>
  <body style="background: #f0f4fc">
    <div class="profile--container">
      <button class="profile__btn--changes">
        <a class="profile__text" href="">تغییر شرکت</a>
      </button>
      <p class="profile__text--middle">رفت و آمدهای من</p>
      <button class="profile__btn">
        <a class="profile__btn--text">خروج</a>
        <svg class="profile__out--icon">
          <use xlink:href="../images/icon/sprite.svg#out"></use>
        </svg>
      </button>
    </div>
    <div class="profile__lists">
      <svg class="profile__list_right--icon">
        <use
          xlink:href="../images/icon/sprite.svg#right-to-bracket-solid"
        ></use>
      </svg>
      <svg class="calendar-check">
        <use xlink:href="../images/icon/sprite.svg#calendar-check-solid"></use>
      </svg>
      <p class="profile__date">1401/09/19</p>
      <svg class="calendar">
        <use
          xlink:href="../images/icon/sprite.svg#calendar-alt-svgrepo-com"
        ></use>
      </svg>
      <p class="profile__time">9:22:39</p>
    </div>
    <div class="profile__lists2">
      <svg class="profile__list_out--icon">
        <use xlink:href="../images/icon/sprite.svg#out"></use>
      </svg>
      <svg class="calendar-check">
        <use xlink:href="../images/icon/sprite.svg#calendar-check-solid"></use>
      </svg>
      <p class="profile__date">1401/09/19</p>
      <svg class="calendar">
        <use
          xlink:href="../images/icon/sprite.svg#calendar-alt-svgrepo-com"
        ></use>
      </svg>
      <p class="profile__time">9:22:39</p>
    </div>
    <footer class="traffic__footer--container">
      <div class="traffic__footer--grid">
        <a class="hover__profile" href="#" id="style-2" data-replace="پروفایل">
          <span>
            <svg class="traffic__user--icon">
              <use xlink:href="../images/icon/sprite.svg#user-regular"></use>
            </svg>
          </span>
        </a>
        <a
          class="hover__profile1"
          href="../components/request.html"
          id="style-2"
          data-replace="درخواست ها"
        >
          <span>
            <svg class="traffic__user--icon">
              <use
                xlink:href="../images/icon/sprite.svg#rectangle-list-regular"
              ></use>
            </svg>
          </span>
        </a>
        <a class="hover__profile" href="#" id="style-2" data-replace="تردد">
          <span>
            <svg class="traffic__user--icon">
              <use
                xlink:href="../images/icon/sprite.svg#fingerprint-solid"
              ></use>
            </svg>
          </span>
        </a>
        <a class="hover__profile" href="#" id="style-2" data-replace="کارتابل">
          <span>
            <svg class="traffic__user--icon">
              <use
                xlink:href="../images/icon/sprite.svg#window-restore-solid"
              ></use>
            </svg>
          </span>
        </a>
        <a class="hover__profile" href="#" id="style-2" data-replace="حاضرین">
          <span>
            <svg class="traffic__user--icon">
              <use
                xlink:href="../images/icon/sprite.svg#calendar-check-solid"
              ></use>
            </svg>
          </span>
        </a>
      </div>
    </footer>
  </body>
</html>
