<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>request</title>
  </head>
  <body>
    <div class="background-container">
      <div class="request-grid">
        <div class="request__mug-grid">
          <svg class="request__mug--icon">
            <use xlink:href="../images/icon/sprite.svg#mug-saucer-solid"></use>
          </svg>
          <div class="request__rest">
            <a class="request__text" href="">درخواست مرخصی</a>
            <div class="request__date--calendar">
              <svg class="request__calendar--icon">
                <use
                  xlink:href="../images/icon/sprite.svg#calendar-check-solid"
                ></use>
              </svg>
              <a class="request__date" href="">1401/9/18</a>
              <svg class="request__calendar--icon">
                <use
                  xlink:href="../images/icon/sprite.svg#calendar-alt-svgrepo-com"
                ></use>
              </svg>
              <a class="request__date" href="">2 ساعت</a>
            </div>
          </div>
        </div>
        <svg class="request__clock--icon">
          <use xlink:href="../images/icon/sprite.svg#clock-svgrepo-com"></use>
        </svg>
        <div class="request__mug-grid">
          <svg class="request__mug--icon">
            <use xlink:href="../images/icon/sprite.svg#mug-saucer-solid"></use>
          </svg>
          <div class="request__rest">
            <a class="request__text" href="">درخواست مرخصی</a>
            <div class="request__date--calendar">
              <svg class="request__calendar--icon">
                <use
                  xlink:href="../images/icon/sprite.svg#calendar-check-solid"
                ></use>
              </svg>
              <a class="request__date" href="">1401/9/18</a>
              <svg class="request__calendar--icon">
                <use
                  xlink:href="../images/icon/sprite.svg#calendar-alt-svgrepo-com"
                ></use>
              </svg>
              <a class="request__date" href="">2 ساعت</a>
            </div>
          </div>
        </div>
        <svg class="request__clock2--icon">
          <use xlink:href="../images/icon/sprite.svg#clock-svgrepo-com"></use>
        </svg>
        <div class="request__mug-grid">
          <svg class="request__mug--icon">
            <use xlink:href="../images/icon/sprite.svg#fingerprint-solid"></use>
          </svg>
          <div class="request__rest">
            <a class="request__text" href="">درخواست ورود</a>
            <div class="request__date--calendar">
              <svg class="request__calendar--icon">
                <use
                  xlink:href="../images/icon/sprite.svg#calendar-check-solid"
                ></use>
              </svg>
              <a class="request__date" href="">1401/9/18</a>
              <svg class="request__calendar--icon">
                <use
                  xlink:href="../images/icon/sprite.svg#calendar-alt-svgrepo-com"
                ></use>
              </svg>
              <a class="request__date" href="">2 ساعت</a>
            </div>
          </div>
        </div>
        <svg class="request__clock3--icon">
          <use xlink:href="../images/icon/sprite.svg#clock-svgrepo-com"></use>
        </svg>
        <svg class="request__plus--icon">
          <use xlink:href="../images/icon/sprite.svg#circle-plus-solid"></use>
        </svg>
      </div>
      <footer class="traffic__footer--container">
        <div class="traffic__footer--grid">
          <a
            class="hover__profile"
            href="#"
            id="style-2"
            data-replace="پروفایل"
          >
            <span>
              <svg class="traffic__user--icon">
                <use xlink:href="../images/icon/sprite.svg#user-regular"></use>
              </svg>
            </span>
          </a>
          <a
            class="hover__profile1"
            href="#"
            id="style-2"
            data-replace="درخواست ها"
          >
            <span>
              <svg class="traffic__user--icon">
                <use
                  xlink:href="../images/icon/sprite.svg#rectangle-list-regular"
                ></use>
              </svg>
            </span>
          </a>
          <a class="hover__profile" href="#" id="style-2" data-replace="تردد">
            <span>
              <svg class="traffic__user--icon">
                <use
                  xlink:href="../images/icon/sprite.svg#fingerprint-solid"
                ></use>
              </svg>
            </span>
          </a>
          <a
            class="hover__profile"
            href="#"
            id="style-2"
            data-replace="کارتابل"
          >
            <span>
              <svg class="traffic__user--icon">
                <use
                  xlink:href="../images/icon/sprite.svg#window-restore-solid"
                ></use>
              </svg>
            </span>
          </a>
          <a class="hover__profile" href="#" id="style-2" data-replace="حاضرین">
            <span>
              <svg class="traffic__user--icon">
                <use
                  xlink:href="../images/icon/sprite.svg#calendar-check-solid"
                ></use>
              </svg>
            </span>
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
