<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/taskbar.css" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav collapsible">
      <svg class="request__plus--icon">
        <use xlink:href="../images/icon/sprite.svg#circle-plus-solid"></use>
      </svg>
      <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">Hosting</a></li>
        <li class="nav__item"><a href="#">VPS</a></li>
        <li class="nav__item"><a href="#">Domain</a></li>
        <li class="nav__item"><a href="#">Pricing</a></li>
      </ul>
    </nav>
  </body>
</html>
