<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>k-mobile</title>
  </head>
  <body>
    <header class="header-container">
      <h3 class="header__text">ورود به حساب کاربری</h3>
      <img class="heade-bg3" src="../images/bg3.png" alt="..." />
    </header>
    <div class="btn-container">
      <input
        class="input-text"
        type="text"
        placeholder="کد ارسال شده را وارد کنید"
      />
      <button class="btn__size">
        <a href="../components/enter.html" class="btn-inter">ورود</a>
      </button>
    </div>
  </body>
</html>
